.tabs {
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
  width: 30%;
}

.tab-header {
  display: flex;
}

.tab {
  padding: 10px 20px;
  cursor: pointer;
  text-align: center;
  width: 50%;
  border-bottom: 2px solid transparent;
}

.tab.active {
  border-bottom: 2px solid gray;
}

.tab-content {
  padding: 20px 20px 40px;
}

.tab-pane {
  display: none;
}

.tab-pane.active {
  display: block;
}
